[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/code.cloudfoundry.org/localip"]
	path = vendor/code.cloudfoundry.org/localip
	url = https://github.com/cloudfoundry/localip
[submodule "vendor/google.golang.org/go-genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "vendor/golang.org/x/tools"]
	path = vendor/golang.org/x/tools
	url = https://go.googlesource.com/tools
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/oauth2"]
	path = vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule "vendor/cloud.google.com/go"]
	path = vendor/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
