#*
*#
*.swp
*~
.DS_Store
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
/aws
/bin/
/blobs
/bosh-lite
/config/dev.yml
/config/private.yml
/dev_releases
/manifest-generation/aws-stubs/*
/pkg
/pkg/
/releases/**/*.tgz
/releases/*.tgz
/src/acceptance-tests/bin
/src/acceptance-tests/pkg
/src/confab/cmd/cmd
/src/confab/fakes/agent/agent
/tags
integration_config.json
